:root {
  --font-letter: rgb(255, 255, 255);
  --font-sound: rgb(243, 239, 28);
  --font-playing: rgb(242, 184, 12);
  --font-playing-background: rgba(62, 49, 23, 0.95);
  --key-background: rgb(0, 0, 0, 0.6);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-image: radial-gradient(circle, #191970, #2f2f2f);
  font-family: 'Courier New', Courier, monospace;
}

body,html {
    margin: 0;
    padding: 0;
  
}
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background-color: var(--key-background);
    box-shadow: 0 0 0.5rem var(--font-letter);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: var(--font-playing);
    background-color: var(--font-playing-background);
    box-shadow: 0 0 1rem var(--font-playing);
  }
  
  kbd {
    display: block;
    color: var(--font-letter);
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--font-sound);
  }
  